.banner {
    margin-top: 5% !important;
    padding: 20px;
    background-color: aliceblue;
    width: 75%;
}
.banner img {
    border-radius: 20px;
    margin-top: 20px;
}
.banner .buttons {
    margin-top: 50px;
}
.banner .home-btn {
    width: 70%;
}